<div class="alpha omega nine columns">
<fieldset data-id='bitpayment' class="no-border-bottom">
  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:bitpay_invoice_id) %>:</dt>
        <dd><%= payment.source.invoice_id %></dd>
      </dl>
    </div>

</fieldset>
</div>
